.container-fluid {
    width: 90%;
    background-color: blue;
}

.image{
    background-color: red;
    height: 100px;
    width: 300px;
}

.title{
    background-color: lightgray;
    height: 100px;
}

.log{
    background-color: yellow;
    height: 100px;
}

nav{
    background-color: greenyellow;
    
}

main{
    background-color: aqua;
    height: 500px;
}

aside{
    background-color: aquamarine;
    height: 500px;
}